node_modules/
.env
*.log

server/uploads/
*.tar.gz

liubi_app/build/
liubi_app/.dart_tool/
liubi_app/.flutter-plugins
liubi_app/.flutter-plugins-dependencies
liubi_app/.packages
liubi_app/pubspec.lock
liubi_app/android/.gradle/
liubi_app/android/app/build/
liubi_app/android/build/
liubi_app/ios/Pods/
liubi_app/ios/.symlinks/
liubi_app/ios/Flutter/Flutter.framework
liubi_app/ios/Flutter/Flutter.podspec
liubi_app/linux/flutter/ephemeral/
liubi_app/macos/Flutter/ephemeral/
liubi_app/windows/flutter/ephemeral/
liubi_app/web/

*.jks
*.keystore
deploy.py

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
